@import url('https://fonts.googleapis.com/css?family=Bahiana|Cabin+Sketch:700');

body {
    background-color: #223051;
    color: #C8C6D7;
    padding: 20px;
}

a {
    color: #B591C6;
}

a:hover {
    color: #561D4E;
    text-decoration: none;
}

h1 {
    font-family: 'Bahiana';
    font-size: 5em;
}

form input{
    color: #223051;
}

.navbar {
    background-color: #561D4E;
    border-color: #000;
}

.navbar .navbar-nav>li>a {
    color: #B591C6;
}

.navbar .navbar-nav>li>a:hover {
    color: #3E6680;
}

.navbar .navbar-brand {
    color: #bc3118;
}

.navbar .navbar-brand:hover {
    color: #000;
}

.the-eye {
    color: #bc3118;
    font-family: 'Cabin Sketch', sans-serif;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #000000;
}